name: CI Pipeline

on:
  push:
    branches:
      - cicd
  pull_request:
    branches:
      - cicd

jobs:
  build-and-test:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: /9.0/BlazorSample_WebAssembly

    steps:
    # Checkout the code
    - name: Checkout code
      uses: actions/checkout@v3

    # Restore dependencies
    - name: Restore dependencies
      run: dotnet restore

    # Build and publish the Blazor application
    - name: Build and Publish
      run: dotnet publish -c Release -o /var/www/blazorsample
    
    - name: Restart Application Service
      run: |
        sudo systemctl restart blazorsample.service
    
    - name: Reload Nginx
      run: |
        sudo nginx -t && sudo systemctl reload nginx
